@import url(null_style.css);

:root {
    --default-color: #101010;
    --bg-color: white;
    --default-size: 1.5em;
    --title-size: 2.2em;
}

/* стили */

html {
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    margin: auto;
    padding: 20em 10em 30em 10em;
}

.title {
    font-size: var(--title-size);
}
